/* faq.css */

@font-face {
    font-family: 'Jazeera';
    src: url('../fonts/JAZEERA.TTF') format('truetype'), /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Jazeera', sans-serif;
}


.accordion-button {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 600;
}

.accordion-button:not(.collapsed) {
    background-color: var(--accent-color);
    color: #fff;
}

.accordion-body {
    background-color: #fff;
    color: var(--text-color);
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #dee2e6;
}
