/* school-policy.css */
.school-policy-container {
    max-width: 800px;
    margin: 0 auto;
}

.school-policy-container .card {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
}

.school-policy-container h2 {
    color: var(--primary-color);
    font-weight: 700;
}

.school-policy-container h4 {
    color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

.school-policy-container p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
    color: var(--text-color);
}

.school-policy-container ol {
    padding-left: 20px;
}

.school-policy-container ol li {
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .director-container .card {
        padding: 20px;
    }

    .director-container p {
        font-size: 1rem;
    }
}